<div class="wtp-icon--search">
	<svg  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="2.6 91.7 609.4 609.4">
		<path fill="#756660" d="M612,653.4L460.3,501.7c34.1-44.3,52.8-97.2,52.8-155.1c0-68.2-27.3-133-75-180.7
		C339.2,67,175.6,67,76.7,165.9s-98.9,262.5,0,361.4c47.7,49.4,114.2,75,179,75c54.6,0,109.1-17,155.1-52.8l151.7,151.7L612,653.4z
		 M122.7,479.5c-73.3-73.3-73.3-192.6,0-265.9s192.6-73.3,265.9,0c34.1,35.8,54.6,83.5,54.6,133s-18.8,97.2-54.6,133
		C315.4,552.8,196,552.8,122.7,479.5z"/>
	</svg>
</div>
