// --------------------------
// Home View Specific elements
// --------------------------

.gbl-header {
    background: black;
    color: white;
    height: 40px;
    width: 100%;
}

.primary-nav {

	ul {
		list-style: none;
	}
}

.nav-link {
	cursor:pointer;
}