//------------------------------
// All Global variables
//------------------------------

$color: (
    body: #f8f8f7,
    primary: #FFD456,
    primary-over: #f9d87c,
    text-primary: #756660
);

$globalContainersZindex: (
    header: 10,
    container: 20
);

$gutter: (
    small: 1.9rem,
    large: 3.6rem,
    xlarge: 12rem
);

